<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Generic Head Title </title>
    <meta name="description" content="content for meta tag">
<link href="../ dist/main.d26a2724d9ca20f1b75d.css" rel="stylesheet"><script type="text/javascript" src="../ dist/index.a74f595c7f7a51321b86.js"></script></head>

<body>
    <p>Generic Head Title </p>

</body>

</html>